<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #g{color: red;
    background-color: aqua;}
    #s{color: blue;
    background-color: bisque;}
    h2{
        color: crimson;
        background-color: chartreuse;
    }
    h3{
        color: deeppink;
        background-color: deepskyblue;
    }

</style>
<body>
    <center>
        <h1 id="g">{{name}}</h1>
        <h1 id="s">{{age}}</h1>
        <h2>1.filter function is used to filter the values according to user requirement<br>
            2.by using filter function we can avoid the loops<br>
            3.no.of input values not same as no.of output values </h2>
        <h3>1.reduce is a function that impliments mathamatical technics<br>
             2.it is used to reduce a sequence into single value</h3>
    </center>
    
</body>
</html>